.samples {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.samples__title {
  margin: 0 0 10px;
  font-size: 35px;
  line-height: 1.25;
  font-weight: 900;
}

.samples__clothes {
  height: 70px;
}

@media screen and (max-width: 800px) {
  .samples__clothes {
    height: 40px;
    padding: 0 10px;
  }

  .samples__title {
    text-align: center;
    font-size: 26px;
    max-width: calc(100% - 15px);
  }
}