.samples {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.samples__title {
  margin: 0 0 10px;
  font-size: 35px;
  line-height: 1.25;
  font-weight: 900;
}

.samples__clothes {
  height: 70px;
}

.samples__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(2, 400px);
}

.samples__inspo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  .samples__grid {
    gap: 20px;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(3, 400px);
  }
}

@media screen and (max-width: 800px) {
  .samples__clothes {
    height: 40px;
    padding: 0 10px;
  }

  .samples__title {
    text-align: center;
    font-size: 26px;
    max-width: calc(100% - 15px);
  }
}

@media screen and (max-width: 600px) {
  .samples__grid {
    grid-template-columns: 250px;
    grid-template-rows: repeat(6, 400px);
  }
}