.go-out {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  gap: 50px;
}

.go-out__result {
  font-size: 45px;
  line-height: 1.25;
  margin: 0;
  font-weight: 900;
  max-width: 500px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .go-out__result {
    font-size: 30px;
    width: calc(100% - 15px);
  }
}
