.header {
  background-color: #1b1c1e;
  display: flex;
  align-items: center;
  padding: 20px 25px;
  box-sizing: border-box;
  margin: 0;
  width: 1280px;
  border-bottom: 1px #d5d9d4 solid;
  max-width: 1260px;
  position: relative;
}

.header__logo {
  height: 75px;
  margin: 0 505px 0 auto;
  align-self: flex-end;
}

.header__burger {
  background: none;
  outline: none;
  border: none;
  height: 45px;
  width: 60px;
  background-image: url("../../images/burger.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  will-change: background-image;
}

.header__burger_active {
  background-image: url("../../images/burger-active.svg");
}

@media screen and (max-width: 1280px) {
  .header {
    justify-content: space-between;
    width: 100%;
  }

  .header__logo {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .header__burger {
    height: 30px;
    width: 40px;
  }

  .header__logo {
    height: 55px;
  }
}
