.about {
  width: 1260px;
  background-image: url('../../images/background-base.svg');
  background-repeat: repeat;
  background-size: 600px;
  overflow: hidden;
  margin: 40px auto;
}

@media screen and (max-width: 1280px) {
  .about {
    width: 100%;
  }
}
