.random {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
  background: none;
  border: none;
  background-image: url(../../images/random-cloud.svg);
  width: 500px;
  height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.25;
  padding: 165px 80px 80px;
  box-sizing: border-box;
  color: #1b1c1e;
  transition: color 1s ease;
  cursor: pointer;
  will-change: color;
}

.random_no-text {
  color: #d5d9d4;
}

@media screen and (max-width: 600px) {
  .random {
    font-size: 24px;
    width: 300px;
    height: 300px;
    padding-top: 130px;
  }
}
