.clothes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.clothes__title {
  font-size: 45px;
  line-height: 1.25;
  margin: 0;
  font-weight: 900;
  text-align: center;
}

.clothes__text {
  margin: 20px 0 0;
  font-size: 26px;
  line-height: 1.25;
  font-weight: 500;
}

.clothes__option {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 500;
}

.clothes__button {
  margin: 25px 0 0;
  font-size: 26px;
  line-height: 1.25;
  font-weight: 900;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .clothes {
    max-width: calc(100% - 15px);
  }

  .clothes__text {
    font-size: 20px;
  }

  .clothes__title {
    font-size: 30px;
  }

  .clothes__option {
    font-size: 16px;
  }

  .clothes__button {
    font-size: 20px;
  }
}
