.rain {
  height: calc(100vh - 115px);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.rain__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: auto 200px;
  will-change: transform;
  background-repeat: repeat space;
  background-image: url("../../images/background-rain.svg");
  transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
}

.rain__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 1.25;
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .rain__title {
    font-size: 55px;
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .rain__image {
    background-image: url("../../images/background-middle.svg");
    background-size: auto 200px;
  }
}

@media screen and (max-width: 500px) {
  .rain__title {
    font-size: 40px;
  }
}
