.cloud-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.cloud-buttons__title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.25;
  margin: 0 auto;
}

.cloud-buttons__clouds {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .cloud-buttons__clouds {
    flex-direction: column;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .cloud-buttons__title {
    font-size: 30px;
  }
}
